@media (min-width: 1024px) { 
#skyline-parallax{
	background-image: url('../images/philly.jpg');
	background-position: center;
}

#contact{
	backround-image: url('../images/philly.jpg');
	background-position: center;
/*	background-size: 768px 1024px;
	background-repeat: no-repeat;*/
}



 }


 @media (min-width: 768px) { 





 }


