/*=========== general ========*/

@font-face{
    font-family: bebas-neue;
    src: url("../fonts/bebas-neue.woff") format("woff");
}

@font-face{
    font-family: nexa-light;
    src: url("../fonts/nexa-light.woff") format("woff");
}

body {
    background-color: rgba(124, 147, 174, 1);
    color: white;
    font-family: nexa-light;
}


h2{
	font-family: 'bebas-neue';
    font-size: 40px;
	padding-bottom: 20px;
    
}

ul{
    display: flex;
    flex-flow: row nowrap;
}

.section-container{
    width: 100%;
    font-size: 20px;
    font-weight: 100;
    color: white;
    padding: 6% 0;
}

.content-minor{
    font-size: 18px;
    font-weight: 100;
    color: white;
    padding: 4% 0;
}

.flex{
    display: flex;
    flex-flow: column nowrap;

}

.content-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
}



a{
	text-decoration: none;
	color: white;
    /*z-index: 5;*/
}
a:hover, a:visited{
    text-decoration: none;
    color: white;
}

.sm-icons{
    margin-top: 20px;
    font-size: 18px;
}

.fa-2x:hover{
    color: rgba(59, 172, 213, 1.00);
}

.vertical-line{
    border-left: thin solid white;
    width: 1px;
    margin: 0% 10%;
}





/*=========== header ========*/

#menu {
    width: 100%;
    background-color: black;
    position: fixed;
    border-bottom: 3px solid rgba(51, 122, 155, 1.00);
    z-index: 50;
}

#menu-content-container{
    padding: 1.5% 0%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

#initials{
	font-family: bebas-neue;
    font-size: 65px;
}

#nav-buttons{
    align-self: center;
    /*flex-wrap: nowrap;*/

}

.nav-links{
	
	color: white;
	font-size: 20px;
	font-weight: 100;
    white-space: nowrap;
	padding: 50px 12px 20px 12px;
	border-bottom-left-radius: .3em;
	border-bottom-right-radius: .3em;

}

.nav-links:hover{

	background-color: rgba(59, 172, 213, 1.00);
	color: white;
	text-decoration: none;
	/*transition:*/
}




/*=========== home ========*/

#home{
    padding: 28% 0%;
}
#home-content-container{
    position: absolute;
    top: 35%;
    /*left: 2%;*/
    z-index: 1;
}



#name-container{
    /*border-bottom: 1px solid white;*/
    /*width: 300px;*/
}

#title-name{
    font-family: 'bebas-neue';
    font-size: 70px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    line-height: 50px;
}

#title-position{
    font-family: 'bebas-neue';
    font-size: 30px;
    text-shadow: 
    -2px -2px 0 rgba(59, 172, 213, 1.00),  
    2px -2px 0 rgba(59, 172, 213, 1.00),
    -2px 2px 0 rgba(59, 172, 213, 1.00),
     2px 2px 0 rgba(59, 172, 213, 1.00);

}

.title-icon{
    margin: 4px ;
    z-index: 5;
}
.title-icon:visited{
    color: white;

}



/*=========== about me ========*/

#about-me {
    background-color: rgba(59, 172, 213, 1.00);

}

#about-content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}


#tjk {
    margin-right: 60px;
    height: 190px;
    border-radius: 2em;

}

#about-text{
    margin-top: 10px;
    line-height: 1.1;

}


/*=========== skills ========*/

#skills{
    /*background-image: url("./assets/images/benfrank2.jpg");*/
    background-color: white;
    color: black;
    border-top: 3px inset rgba(37, 97, 124, 1.00);
    border-bottom: 3px inset rgba(37, 97, 124, 1.00);
}

#skills-header{
    font-size: 35px;
    font-family: nexa-light;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
    padding: .5%;
    text-align: right;
} 

.icon-container{
    /*width: 80%;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 4% 0%;

}

.skills-icons{
    /*display: inherit;*/
    height: 100px;
    /*justify-content: space-between;*/
    /*margin: 3%;*/
}

/*=========== resume ========*/
#resume{
    background-color: rgba(53, 136, 175, 1.00);
}

#resume-header{
    border-bottom: 1px solid white;
    margin-bottom: 4%;
} 

#resume-buttons-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

#download-button, #view-button{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.resume-buttons{
    color: white;
    text-decoration: none;
    margin: 10% 0%;
}

.resume-buttons:link, .resume-buttons:visited{
    color: white;
    text-decoration: none;
}

.resume-buttons:hover{
    color: rgba(68, 159, 203, 1.00);
}

.resume-label{
    width: 200px;
    height: 60px;
    font-size: 25px;
    text-align: center;
    line-height: 2;
    vertical-align: middle;
    background-color: rgba(27, 71, 105, 1.00);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}





/*=========== projects ========*/



/*.project-row{*/
#projects-content-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.projects {
    width: 320px;
    height: 183px;
    overflow-x: hidden;
    overflow-y: hidden;
    /*margin: 2%;*/
    padding: 0px;
    margin: 2% 0%;
    border: .5px solid rgba(36, 64, 100, 0.5);
    /*box-shadow: 0px 0px 25px 4px rgba(61,61,61,.5);*/

}

#works {
    background-color: rgba(37, 97, 124, 1.00);
}

.img-banner {
    position: relative;
    bottom: 45px;
    background-color: rgba(53, 136, 174, 1);
    color: white;
    padding: 10px 0px;
    text-align: center;
    width: 320px;

}

.img-banner:hover{
    background-color: rgba(53, 136, 174, .75);
    
}

/*===========contact  &&  footer========*/

#contact {
    background-color: rgba(63, 60, 74, 0.75);
    padding: 14% 0%;
}

#contact-form-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contact-icon{
    /*width: 20%;*/
    text-align: center;
    font-size: 18px;
    padding: 0;
}

.contact-text{
    margin: 30px;
}


.subheader-contact{
    font-size: 30px;
    margin-bottom: 10%;
}


td{
    height: 45px;
    vertical-align: middle;
    text-align: left;
    padding-left: 30px;
    font-size: 18px;
}

#footer {
    line-height: 3;
    vertical-align: middle;
    height: 60px;
    background-color: rgba(27, 71, 105, 1.00);
    border-top: 3px solid rgba(51, 122, 155, 1.00);
}
