/*=========== general ========*/

@font-face{
    font-family: bebas-neue;
    src: url("../fonts/bebas-neue.woff") format("woff");
}

@font-face{
    font-family: nexa-light;
    src: url("../fonts/nexa-light.woff") format("woff");
}

body {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgba(124, 147, 174, 1);
    color: white;
    font-family: nexa-light;
    overflow-x: hidden;
}


h2{
	font-family: 'bebas-neue';
    font-size: 40px;
	padding-bottom: 20px;
    
}

li{
    display: inline;
}

.content {
    height: auto;
    font-size: 18px;
    font-weight: 100;
    color: white;
    overflow-x: hidden;
    padding: 6% 0;
}
.content-minor{
    height: auto;
    font-size: 18px;
    font-weight: 100;
    color: white;
    overflow-x: hidden;
    padding: 4% 0;
}

 .container{
    width: 100%;
}


a{
	text-decoration: none;
	color: white;
    /*z-index: 5;*/
}
a:hover, a:visited{
    text-decoration: none;
    color: white;
}





/*=========== header ========*/

.sm-icons {
    height: 40px;
    margin-left: 10px;
}

#initials{

	font-family: bebas-neue;
    font-size: 65px;
	padding: 0px;
	margin: 0px;
}

#menu {
    height: 80px;
    /*background-color: rgba(177, 177, 177, 1.00);*/
    background-color: black;
    position: fixed;
    /*border-bottom: 4px solid rgba(241, 149, 108, 1);*/
    border-bottom: 5px solid rgba(51, 122, 155, 1.00);
    vertical-align: center;
    z-index: 50;
}
#nav-row{
	margin-top: 1%;
	padding: 0%;
}

#nav-buttons{
	padding-top: 10px;
}


#home{
	padding: 25% 0%;
}

.nav-link{
	height: 10%;
	position: relative;
	color: white;
	font-size: 20px;
	font-weight: 100;
	padding: 40px 12px 20px 12px;
	border-bottom-left-radius: .3em;
	border-bottom-right-radius: .3em;
	/*height: inherit;*/

}

.nav-link:hover{
	/*position: inherit;*/
	background-color:  rgba(36, 64, 100, 1); 
	color: white;
	text-decoration: none;
	transition:
}




/*=========== home ========*/

#title{
    position: absolute;
    top: 40%;
    left: 2%;
    z-index: 1;
}

#name-container{
    /*border-bottom: 1px solid white;*/
    width: 300px;
}

#title-name{
    font-family: 'bebas-neue';
    font-size: 55px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 40px;
}

#title-position{
    font-family: 'bebas-neue';
    font-size: 25px;
    text-shadow: 
    -2px -2px 0 rgba(59, 172, 213, 1.00),  
    2px -2px 0 rgba(59, 172, 213, 1.00),
    -2px 2px 0 rgba(59, 172, 213, 1.00),
     2px 2px 0 rgba(59, 172, 213, 1.00);

}

.title-icon{
    margin: 4px ;
    z-index: 5;
}

#sm-icons{
    margin-top: 20px;
}

.fa-2x:hover{
    color: rgba(59, 172, 213, 1.00);
}
/*=========== bio ========*/

#about-me {
    /*background-color: rgba(63, 60, 74, 0.75);*/
    background-color: rgba(59, 172, 213, 1.00);
    /*box-shadow: 2px 10px 20px 5px #888888;*/

}

#tjk {
    height: 190px;
    border-radius: 2em;
}
#about-text{
    margin-top: 10px;
}


/*=========== skills ========*/
#skills-header{
    font-size: 35px;
    font-family: nexa-light;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: .5%;
    width: 90%;
    text-align: right;
} 

#skills{
    /*background-image: url("./assets/images/benfrank2.jpg");*/
    background-color: white;
    /*background-color: rgba(68, 159, 203, .75);*/
    /*background-color: rgba(53, 136, 175, 1.00);*/
    /*border-bottom: 30px solid rgba(51, 122, 155, 1.00);*/
    color: black;
    /*border: 3px inset rgba(37, 97, 124, 1.00);*/
    border-top: 3px inset rgba(37, 97, 124, 1.00);
    border-bottom: 3px inset rgba(37, 97, 124, 1.00);
    /*box-shadow: 2px 10px 20px 5px #888888;*/
}

.skills-icons{
    height: 100px;
    margin: 10% 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*=========== resume ========*/
#resume-header{
   
    border-bottom: 1px solid white;
    padding: .5%;
    width: 90%;
    /*text-align: right;*/
} 
.resume-buttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#resume{
    background-color: rgba(53, 136, 175, 1.00);
}


/*=========== projects ========*/

#projects-wrapper {
    /*align-self: center;*/
    align-content: center;
}

.projects {
    width: 320px;
    height: 183px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 2%;
    padding: 0px;
    border: .5px solid rgba(36, 64, 100, 0.5);

}
.projects:hover{
	/*z-index: 50;*/
	backgrou: rgba(124, 147, 174, .75);
}
.trans{
	/*transition: 0.5s;*/
    color: rgba(124, 147, 174, .75);
}
#works {
    /*z-index: 1;*/
    /*background-color: rgba(36, 64, 100, 0.75);*/
    background-color: rgba(37, 97, 124, 1.00);
}
.img-banner {
    position: relative;
    bottom: 45px;
    background-color: rgba(124, 147, 174, 1);
    color: white;
    padding: 10px 0px;
    text-align: center;
    width: 320px;

}

.img-banner:hover{
    background-color: rgba(124, 147, 174, .75);
    
}

/*===========contact  &&  footer========*/

#contact {
    background-color: rgba(63, 60, 74, 0.75);
    padding-top: 8%;
}

.contact-form{
    background-color: rgba(35, 45, 63, 0.75);
    width: 250px;
    height: 50px;
}
#message{
    width: 400px;
    height: 150px;
    font-size: 14px;
}

.push {
    position: relative;
    height: 100px;
}

#tim-contact{
    font-size: 25px;
    margin-bottom: 10px
}

#footer {
    height: 120px;
    background-color: rgba(35, 45, 63, 0.75);
    border-top: 3px solid rgba(241, 149, 108, 1.00);
}
